---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=379dc117&app_key=9fcb79f83581cc266057d2b408a6b9cb&q=dflakdfalkjdf%25$321..1.2j
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 04 May 2018 21:11:04 GMT
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=379dc117&app_key=9fcb79f83581cc266057d2b408a6b9cb&q=dflakdfalkjdf%25$32
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 04 May 2018 21:11:50 GMT
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=379dc117&app_key=9fcb79f83581cc266057d2b408a6b9cb&q=alfkjalkdfjalsdkjfalkdjf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "alfkjalkdfjalsdkjfalkdjf",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "alfkjalkdfjalsdkjfalkdjf" ],
            "app_key" : [ "9fcb79f83581cc266057d2b408a6b9cb" ],
            "app_id" : [ "379dc117" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Fri, 04 May 2018 21:13:52 GMT
recorded_with: VCR 4.0.0
