---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<APP_ID>&app_key=<APP_KEY>&q=fake%20abc&to=80
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "fake abc",
          "from" : 0,
          "to" : 80,
          "params" : {
            "sane" : [ ],
            "q" : [ "fake abc" ],
            "to" : [ "80" ],
            "app_key" : [ "<APP_KEY>" ],
            "app_id" : [ "<APP_ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Sun, 06 May 2018 15:43:54 GMT
recorded_with: VCR 4.0.0
