---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<APP_ID>&app_key=<APP_KEY>&q=?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "?",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "?" ],
            "app_key" : [ "<APP_KEY>" ],
            "app_id" : [ "<APP_ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Wed, 02 May 2018 22:44:49 GMT
recorded_with: VCR 4.0.0
