---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=APPID&app_key=APPKEY&q=sfklajsdlfkjsdlfkjsldkfj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "sfklajsdlfkjsdlfkjsldkfj",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "sfklajsdlfkjsdlfkjsldkfj" ],
            "app_key" : [ "APPKEY" ],
            "app_id" : [ "APPID" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Mon, 07 May 2018 01:55:01 GMT
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=APPID&app_key=APPKEY&q=jjjjj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "jjjjj",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "jjjjj" ],
            "app_key" : [ "APPKEY" ],
            "app_id" : [ "APPID" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Mon, 07 May 2018 01:56:10 GMT
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=APPID&app_key=APPKEY&q=slkdjflskdjf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "slkdjflskdjf",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "slkdjflskdjf" ],
            "app_key" : [ "APPKEY" ],
            "app_id" : [ "APPID" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Mon, 07 May 2018 01:57:33 GMT
recorded_with: VCR 4.0.0
