---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<APP_ID>&app_key=<APP_KEY>&q=24324234234234.234
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "q" : "24324234234234.234",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "24324234234234.234" ],
            "app_key" : [ "<APP_KEY>" ],
            "app_id" : [ "<APP_ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Fri, 04 May 2018 20:36:06 GMT
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<APP_ID>&app_key=<APP_KEY>&from=0&q=24324234234234.234&to=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "q" : "24324234234234.234",
          "from" : 0,
          "to" : 100,
          "params" : {
            "sane" : [ ],
            "q" : [ "24324234234234.234" ],
            "from" : [ "0" ],
            "app_key" : [ "<APP_KEY>" ],
            "to" : [ "100" ],
            "app_id" : [ "<APP_ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Sun, 06 May 2018 18:00:52 GMT
recorded_with: VCR 4.0.0
