---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<APP_ID>&app_key=<APP_KEY>&q=chicken
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "q" : "chicken",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "chicken" ],
            "app_key" : [ "<APP_KEY>" ],
            "app_id" : [ "<APP_ID>" ]
          },
          "more" : true,
          "count" : 191058,
          "hits" : [ {
            "recipe" : {
              "uri" : "http://www.edamam.com/ontologies/edamam.owl#recipe_7bf4a371c6884d809682a72808da7dc2",
              "label" : "Teriyaki Chicken",
              "image" : "https://www.edamam.com/web-img/262/262b4353ca25074178ead2a07cdf7dc1.jpg",
              "source" : "David Lebovitz",
              "url" : "http://www.davidlebovitz.com/2012/12/chicken-teriyaki-recipe-japanese-farm-food/",
              "shareAs" : "http://www.edamam.com/recipe/teriyaki-chicken-7bf4a371c6884d809682a72808da7dc2/chicken",
              "yield" : 6.0,
              "dietLabels" : [ "Low-Carb" ],
              "healthLabels" : [ "Sugar-Conscious", "Peanut-Free", "Tree-Nut-Free", "Alcohol-Free" ],
              "cautions" : [ ],
              "ingredientLines" : [ "1/2 cup (125ml) mirin", "1/2 cup (125ml) soy sauce", "One 2-inch (5cm) piece of fresh ginger, peeled and grated", "2-pounds (900g) boneless chicken thighs (4-8 thighs, depending on size)" ],
              "ingredients" : [ {
                "text" : "1/2 cup (125ml) mirin",
                "weight" : 122.99850757795392
              }, {
                "text" : "1/2 cup (125ml) soy sauce",
                "weight" : 134.72774670265568
              }, {
                "text" : "One 2-inch (5cm) piece of fresh ginger, peeled and grated",
                "weight" : 15.0
              }, {
                "text" : "2-pounds (900g) boneless chicken thighs (4-8 thighs, depending on size)",
                "weight" : 907.18474
              } ],
              "calories" : 2253.101981306866,
              "totalWeight" : 1179.9109942806097,
              "totalTime" : 0.0,
              "totalNutrients" : {
                "ENERC_KCAL" : {
                  "label" : "Energy",
                  "quantity" : 2253.101981306866,
                  "unit" : "kcal"
                },
                "FAT" : {
                  "label" : "Fat",
                  "quantity" : 151.56383347020517,
                  "unit" : "g"
                },
                "FASAT" : {
                  "label" : "Saturated",
                  "quantity" : 41.169838892692944,
                  "unit" : "g"
                },
                "FATRN" : {
                  "label" : "Trans",
                  "quantity" : 0.7711070290000002,
                  "unit" : "g"
                },
                "FAMS" : {
                  "label" : "Monounsaturated",
                  "quantity" : 63.10028137309835,
                  "unit" : "g"
                },
                "FAPU" : {
                  "label" : "Polyunsaturated",
                  "quantity" : 31.82952890962799,
                  "unit" : "g"
                },
                "CHOCDF" : {
                  "label" : "Carbs",
                  "quantity" : 17.72546514133862,
                  "unit" : "g"
                },
                "FIBTG" : {
                  "label" : "Fiber",
                  "quantity" : 1.3778219736212456,
                  "unit" : "g"
                },
                "SUGAR" : {
                  "label" : "Sugars",
                  "quantity" : 0.7939109868106228,
                  "unit" : "g"
                },
                "PROCNT" : {
                  "label" : "Protein",
                  "quantity" : 161.72175016748596,
                  "unit" : "g"
                },
                "CHOLE" : {
                  "label" : "Cholesterol",
                  "quantity" : 889.0410452000001,
                  "unit" : "mg"
                },
                "NA" : {
                  "label" : "Sodium",
                  "quantity" : 8139.824735928436,
                  "unit" : "mg"
                },
                "CA" : {
                  "label" : "Calcium",
                  "quantity" : 116.51301359077408,
                  "unit" : "mg"
                },
                "MG" : {
                  "label" : "Magnesium",
                  "quantity" : 276.82169621464243,
                  "unit" : "mg"
                },
                "K" : {
                  "label" : "Potassium",
                  "quantity" : 2529.722194651041,
                  "unit" : "mg"
                },
                "FE" : {
                  "label" : "Iron",
                  "quantity" : 8.335407066766463,
                  "unit" : "mg"
                },
                "ZN" : {
                  "label" : "Zinc",
                  "quantity" : 12.950414243828696,
                  "unit" : "mg"
                },
                "P" : {
                  "label" : "Phosphorus",
                  "quantity" : 1660.4080117810859,
                  "unit" : "mg"
                },
                "VITA_RAE" : {
                  "label" : "Vitamin A",
                  "quantity" : 208.65249020000002,
                  "unit" : "µg"
                },
                "VITC" : {
                  "label" : "Vitamin C",
                  "quantity" : 0.75,
                  "unit" : "mg"
                },
                "THIA" : {
                  "label" : "Thiamin (B1)",
                  "quantity" : 0.7104550166118764,
                  "unit" : "mg"
                },
                "RIBF" : {
                  "label" : "Riboflavin (B2)",
                  "quantity" : 1.542818655059382,
                  "unit" : "mg"
                },
                "NIA" : {
                  "label" : "Niacin (B3)",
                  "quantity" : 45.028415542590324,
                  "unit" : "mg"
                },
                "VITB6A" : {
                  "label" : "Vitamin B6",
                  "quantity" : 3.3713281129199304,
                  "unit" : "mg"
                },
                "FOLDFE" : {
                  "label" : "Folate equivalent (total)",
                  "quantity" : 47.7274267383718,
                  "unit" : "µg"
                },
                "FOLFD" : {
                  "label" : "Folate (food)",
                  "quantity" : 47.7274267383718,
                  "unit" : "µg"
                },
                "VITB12" : {
                  "label" : "Vitamin B12",
                  "quantity" : 5.6245453880000005,
                  "unit" : "µg"
                },
                "VITD" : {
                  "label" : "Vitamin D",
                  "quantity" : 0.9071847400000002,
                  "unit" : "µg"
                },
                "TOCPHA" : {
                  "label" : "Vitamin E",
                  "quantity" : 1.944087954,
                  "unit" : "mg"
                },
                "VITK1" : {
                  "label" : "Vitamin K",
                  "quantity" : 19.065879540000005,
                  "unit" : "µg"
                }
              },
              "totalDaily" : {
                "ENERC_KCAL" : {
                  "label" : "Energy",
                  "quantity" : 112.6550990653433,
                  "unit" : "%"
                },
                "FAT" : {
                  "label" : "Fat",
                  "quantity" : 233.17512841570027,
                  "unit" : "%"
                },
                "FASAT" : {
                  "label" : "Saturated",
                  "quantity" : 205.8491944634647,
                  "unit" : "%"
              [...]
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<APP_ID>&app_key=<APP_KEY>&from=0&q=chicken&to=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"q\" : \"chicken\",\n  \"from\" : 0,\n  \"to\" : 100,\n  \"params\"
        : {\n    \"sane\" : [ ],\n    \"q\" : [ \"chicken\" [...]
