<section class="recipe-list">
  <h1>Recipe List</h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |food| %>
        <li>
          <%= food %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
