<h3>Results for: "<%= @search_terms %>"</h3>
<section>
  <div>
    <% if @recipes %>
      <ul class="grid-container">
        <% @recipes.each do |recipe| %>
          <li class="grid-item">
            <%= link_to image_tag(recipe.image), recipe_path(recipe.id) %>
            <%= link_to recipe.name, recipe_path(recipe.id) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</section>

<span><%= will_paginate @recipes %></span>
