<section class="recipes-results">
  <h1>Results for: "<%= @search_terms %>"</h1>
  
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= recipe.label %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
