<header>
  <h1>Recipes</h1>
</header>
<section>
  <% if @recipe_list %>
  <ul>
    <% @recipe_list.each do |recipe| %>
    <li class="thumbnail">
      <figure>
        <%= image_tag("#{recipe.image}")  %>
      </figure>
      <figcaption>
      <%= link_to recipe.label, recipe_details_path(recipe) %>
    </figcaption>
    </li>
    <% end %>
  </ul>
  <% end %>
</section>
<section>
  <%= paginate @recipe_list %>
</section>
