<section class="nav">
  <span><%= paginate @paginatable_array %></span>
</section>

<section class="recipe-list">
  <% if @recipes %>
    <ul>
      <% @recipes.each do |item| %>
        <li class="gallery-item">
          <figure class="item-image">
            <%= image_tag item.image %>
            <%= link_to item.label, food_path(item) %>
          </figure>
          </li>
      <% end %>
    </ul>
  <% end %>
</section>
