  <h1>Recipes</h1>
<section class="recipe-list">
  <% if @recipes %>
    <ul>
    <span class="nav"><%= paginate @paginatable_array %></span>
      <% @recipes.each do |item| %>
        <li class="gallery-item">
          <figure class="item-image">
            <%= image_tag item["recipe"]["image"] %>
              <figcaption clas="caption"><p><%= item["recipe"]["label"] %></p></figcaption>
          </figure>
          </li>
      <% end %>
    </ul>
  <% end %>
</section>
