<section class="search-form">

  <%= form_tag(recipes_path, :method => "get") do %>

    <div class="search-bar">
      <%= text_field_tag :search_term, params[:search_term], placeholder: "Search Recipes", :required => 'required', type: "search" %>
    </div>
      <%= hidden_field_tag :page, 1 %>
      <%= submit_tag "Search", :name => nil, :style => "display: none;" %>
  <% end %>

</section>
