<h1> Recipe Finder </h1>
<section class="search-form">
<%= form_tag('/recipes', method: :get) do %>
<%= text_field_tag(:q, nil, placeholder: 'Search terms') %>
<%= submit_tag("Submit", class:"button") %>
<% end %>
</section>
