<header class="page-header">
  <h1><%= link_to "MUNCHER", root_path %></h1>
  <section class="search-container">
    <%= form_tag(recipes_path, method: :get) do %>
      <%= text_field_tag :term, nil, placeholder: "ðŸ”" %>
      <%= submit_tag 'Search', class: "button" %>
    <% end %>
  </section>
</header>
