
<section class="search-form">
  <h1><%= link_to "YUMMMMSTER", root_path %></h1>
  <%= form_tag results_path, method: :get do %>
  <% if !@recipe && !@recipes %>
  <h3 class="tagline">Find your flavor...</h3>
  <% end %>
  <%= text_field_tag :query %>
  <%= submit_tag 'Search', class: 'button hollow secondary' %>
  <% end %>
</section>
