<h1>List of Recipes</h1>

<section>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
      <div>
        <li><%= link_to recipe.name, recipe_path(recipe.id) %></li>
        <li><img src="<%= recipe.image %>"></li>
        </li>
      </div>
      <% end %>
    </ul>
  <% end %>
</section>
