
<section class="channels-list">
  <h1> Results for '<%= @query %>'</h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= link_to recipe.label, recipe_show_path(recipe.id) %>
          <%= link_to image_tag(recipe.image, :size => "300x300", alt:"recipe image"), recipe_show_path(recipe.id) %>
        </li>

      <% end %>
    </ul>
  <% end %>
</section>
<%= will_paginate @recipes, class: "page-nav row" %>
