

<section class="recipes-list">
  <h1>Recipes</h1>

    <% if @recipes %>
    <% @recipes.each do |recipe| %>
     <%= image_tag recipe.image %>
     <br>
        <%= link_to recipe.name, recipe_path(:r => recipe.uri)  %>
        <br>

    <% end %>
    <% end %>
    

</section>
