<h1>Search Results for <%= params[:search].titleize %></h1>


  <% @recipes.each do |recipe| %>
  <li>
    <%= link_to image_tag(recipe.image, class: "recipe-image"), recipes_show_path(recipe.name, uri: recipe.uri), alt: "link to a given recipe" %>
    <p>
      <%= link_to recipe.name, recipes_show_path(recipe.name, uri: recipe.uri), alt: "link to a given recipe", class: "recipe-name" %>
    </p>
  </li>
  <% end %>
</ul>
