
<section>
  <h2>Your recipes</h2>
  <ul>
    <% @recipes.each do |recipe| %>

    <li>
      <a class="th"><img src="<%=recipe.image%>" alt="<%=recipe.label%>"></a>
      <%=link_to recipe.label, recipe_path(recipe.uri)%>
    </li>
    <%end%>
  </ul>
</section>
