<section class="muncher-home">
  <h1>MUNCH THIS</h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |item| %>
        <li>
          <img src="<%= item.image %>" >
          <%= link_to item.source, recipe_path(item.id) %>
          by <%= item.label %>
        </li>
        <% end %>
    </ul>
    <% end %>
</section>
