<h1>Recipes#index</h1>
<p>Find me in app/views/recipes/index.html.erb</p>

<section class="recipes-list">
  <h1>Recipe Search Result</h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= recipe.name %>
          <%= image_tag(recipe.image, size: 200, alt: "#{recipe.name}") %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
