<h2>List of Recipes</h2>

<%= will_paginate @recipes %>

<section>
  <ul>
    <% @recipes.each do |recipe| %>
    <div>
      <li><%= link_to recipe.name, recipe_path(recipe.id) %></li>
      <li><img src="<%= recipe.image %>"></li>
    </div>
    <% end %>
  </ul>
</section>
