<h1> <%= @recipes.length %> Results for <%= params[:search] %></h1>

<section class="index">
  <% @recipes.each do |recipe| %>
  <div>
    <%= image_tag(recipe.image) %>
  </div>
  <div>
    <%= recipe.title %>
  </div>
  <% end %>
</section>
