<section class="recipe-list">
  <h1>Recipe List</h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |item| %>
        <li><%= item.label %></li>
      <% end %>
    </ul>
  <% end %>
</section>
