<section class="recipes-list">
  <h1>Recipes Found</h1>
  <% if @recipes %>
  <ul class= "recipes">
    <% @recipes.each do |recipe| %>
    <div class= "recipe_info">
      <li class= "recipe_img">
        <%= link_to image_tag(recipe.image, alt: "recipe-pic", class: "recipe-pic"), recipe_path(uri: recipe.uri) %>
      </li>
    <li class="recipe_name">
      <h4><%= recipe.label %></h4>
    </li>
    <% end %>
  </div>
  </ul>
  <% end %>
</section>
<%= will_paginate(@recipes) %>
