<%= render partial: "form" %>

<section class="search-results">

  <section class="page-headline">
    <h2> Search Results </h2>
  </section>

  <section class="recipe-index">
    <% counter = 1 %>
    <% @recipes.each do |recipe| %>
    <figure>

      <%= link_to image_tag(recipe.image, alt: recipe.label), recipe_path(recipe.uri_trim) %>
      <figcaption> <%= "#{counter}. #{recipe.label}" %></figcaption>
    </figure>
    <% counter += 1 %>
    <br><!--TODO: switch to padding-->
    <% end %>
  </section>

  <section class="pagination">
  </section>

</section>
