<section class="recipes-list">
  <h3>Recipes </h3>

  <% if @recipes %>
  <ul class="grid-x">
    <% @recipes.each do |recipe| %>
    <li class="thumbnail">
      <div class="image">
        <%= image_url(recipe) %>
      </div>
      <div class="caption">
        <h5><%= link_to recipe.name, recipe_path(recipe.get_id) %></h5>
      </div>
    </li>
    <% end %>
    <% end %>
  </ul>
</section>
<div class="recipe-pagination">
<%= will_paginate @recipes %>
</div>
