<h2>Recipes for <%= @query %></h2>

<section>
  <% if @recipes %>
  <ul>
    <% @recipes.each do |recipe| %>
    <li>
      <%= recipe.label %>
    </li>
    <% end %>
  </ul>
  <% else %>
  <p>
  None found!
  </p>
  <% end %>
</section>
