<section class="channels-list">
  <h1> Results for "search term"</h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= link_to recipe.label, recipe_path(recipe.uri) %>
        </li>
      <% end %>
    </ul>
    <%= will_paginate @recipes %>
  <% end %>
</section>
