<h2>Api-tizers!</h2>

<ul>
  <% @recipes.each do |recipe| %>
    <li class="thumbnail">
      <div>
        <%= image_tag recipe.image %>
      </div>
      <p> insert link to recipe </p>
    </li>
  <% end %>
</ul>

<%= paginate @recipes %>
