<section class="recipes-list">
  <h1>Muncher</h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= link_to recipe.label, recipe_path(recipe.label) %>
        </li>
        <li>
          <%= image_tag recipe.image %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
