<section class="channels-list">
  <h1> Results for "search term"</h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= recipe.label %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>


Add CommentCollapse 
