
<section>
  <h2>Your recipes</h2>
  <ul class="ten-recipes">
    <% @recipes.each do |recipe| %>

    <li>
      <ul>
        <li><a class="th"><img src="<%=recipe.image%>" alt="<%=recipe.label%>"></a></li>
        <li><%=link_to recipe.label, recipe_path(recipe.uri)%></li>
      </ul>
    </li>
    <%end%>
  </ul>
</section>
<%= will_paginate @recipes%>
