<section class="recipes-list">
  <h1>Things to Cook</h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= link_to recipe.label, recipe_path(recipe) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
