<section class="recipes-list">
  <h1>Things to Cook</h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= link_to recipe.label, recipe_path(recipe) %>
          <%= link_to ("Original Recipe"), recipe.url %>
          <%= recipe.ingredients.each do  |ingredient| %>
            <%= puts ingredient %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
