<nav>
  <ul>
    <li>
      Home
    </li>
    <li>
      Search
    </li>
  </ul>
</nav>



<h2>Results for <%= @query %></h2>
<% if @recipes %>
<div class="journal-entries">

  <% @recipes.each do |recipe| %>
  <section class="entry">
    <h2 class="recipe-title"><%= link_to recipe.name, recipe_path(recipe.id) %></h2>
    <div>
      <%= image_tag(recipe.image, :alt => "food image") %>
    </div>
  </section>

  <% end %>
<% end %>
</div>
