<section>
  <% if @recipes%>
  <h6>COUNT: <%= @recipes.count %> </h6>
  <ul>
    <% @recipes.each do |recipe| %>
    <li>
      <%= image_tag recipe.image, size: 50 %>
    </li>
    <li>
      <%= link_to recipe.name, recipe_path(uri: recipe.uri) %>
    </li></br>
    <% end %>
  </ul>
  <% end %>
</section>

<section>
<% if @recipes%>
  <%= will_paginate @recipes %>
  <% end %>
</section>
