<!-- TODO: Create HTML interface to display list of recipes -->
<section class="recipes-list">
  <h1>Recipes Found</h1>
  <% if @recipes %>
  <ul>
    <li>
      <%= @recipes %>
    </li>
  </ul>
  <% end %>
</section>
