<h2 class="title">Results for "<%= @query %>"</h2>

<section class="recipe-list">
  <% @recipes.each do |recipe| %>
  <div class="recipe">
    <%= image_tag recipe.image %>
    <h4><%= link_to recipe.title, recipe_path(recipe.id) %></h4>
  </div>
  <% end %>
</section>
<%= will_paginate @recipes, renderer: FoundationPagination::Rails %>
