<section class="recipes-list">

  <h1>Results for ...</h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= link_to recipe.name, show_recipes_path(recipe.name) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
