<h1 class="header">Muncher Recipes</h1>

<div class="search_form">
  <%= form_tag recipe_results_path, method: "get" do %>
  <%= label_tag(:q, "Find recipes for ...", :class => "form_font") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search", :class => "form_font hollow button secondary" ) %>
  <% end %>
</div>
