<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search Bar for Recipe</title>
  </head>
  <body>
    Search for your recipie here
    Here are some label fields that take in text
  </body>
</html>
