<h5>Recipe Muncher</h5>

<%= form_tag search_recipe_path(@search_term) do %>
  <%= label_tag(:search_term)%>
  <%= text_field_tag(:search_term) %>
  <%= submit_tag("Search!")%>
<% end %>






<footer>Powered by Edamam</footer>
