<h1>Search Muncher Recipes</h1>

<%= form_tag recipe_search_path, method: "post" do %>
  <%= label_tag(:q, "Enter Search Term") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>

<% end %>
