<section class="grid-container">
	<section class="grid-x align-center">
		<ul class="prod-container">
			<% @recipes.each do |result| %>
			<li class="product-summary">
				<div class="row small-up-2 medium-up-3 large-up-4 align-center">
					<div class="column">
						<div class="image-wrapper overlay-fade-in">
							<%= image_tag(result.image, :alt => "recipe image", :class => "found-image") %>
							<div class="image-overlay-content">
								<h4><%= link_to result.name, { action: 'show', :uri => result.uri }%></h4>
							</div>
						</div>
					</div>
				</div>
			</li>
			<%end%>
		</ul>
	</section>
</section>


<ul>
	<% (1...@max_pages).each do |page| %>
	<%= link_to page, { action: 'results', :from => page } %>
	<% end %>
</ul>
