<h2>Results for "<%= @query.titlecase %>"</h2>

<section class="results">
  <% if @results %>
    <% @results.each do |result| %>
    <article class="results item">
      <%= image_url(result) %>
      <% raise %>
      <% @recipe = result %>
      <%= link_to result.label, show_path(result.share), class: "recipe-label" %>
    </article>
    <% end %>
  <% end %>
</section>
<%= paginate @results, window: 2 %>
