<h1>MUNCHER</h1>
<section>
  <%= form_tag results_path(:first => "0"), method: "get" do %>
    <%= label_tag(:search, "Find Your Flavor...") %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("Search") %>
    <% end %>
</section>
