<h3>Recipe Finder</h3>

<section class="form">
  <%= form_tag results_path, method: "get" do %>
    <%= text_field_tag(:query) %>
    <%= submit_tag "Search", class: "button" %>
  <% end %>
</section>
