<h1>Search</h1>

<%= form_for :search, url: index_path(:terms) do |f| %>
  <%= f.search_field :terms, placeholder: "Search..." %>
  <%= f.submit "Submit" %>
<% end %>

# add font awesome utensils icon
<a href="#"><i class="fas fa-utensils"></i></a>
