<%= form_for :search, url: index_path do |f| %>
  <%= f.search_field :terms, placeholder: "Enter food..." %>
  <%= f.submit "Submit", class: "button" %>
<% end %>

# add font awesome utensils icon
<a href="#"><i class="fas fa-utensils"></i></a>
