<h1>Recipe Name</h1>
<%= image_tag @recipe.image %>
<h1> Ingredients </h1>
<% @recipe.ingredients.each do |ingredients|%>
<li><%= ingredients %></li>
<br>
<% end %>
<h1> Dietary Label </h1>
<% @recipe.dietlabels.each do |label| %>
  <li><%= label %></li>
  <br>
  <% end %>
