<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Here are is that specific recipe</title>
  </head>
  <body>
Here is that specific recipe

<%= @recipe.label %>

<a href= "<%= @recipe.url %>" >External Link</a>
  </body>
</html>
