<h2><%=@recipe.label%></h2>
<img src=" <%= @recipe.image %>" alt="recipe photo">

<h4>Ingredient List</h4>
<ul>
  <% @recipe.ingredientlines.each do |ingredient| %>
  <li><%= ingredient %></li>
  <% end %>
</ul>
<h4>Nutritional Information</h4>
<ul>
  <% @recipe.totalnutrients.each do |nutrient| %>
  <li><%= "#{nutrient[1]["label"]}: #{'%.2f' % nutrient[1]["quantity"]} #{nutrient[1]["unit"]}" %></li>
  <% end %>
</ul>
