<h1>Results for <%= params[:search] %></h1>

<% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <img src="<%= recipe.image %>" alt="recipe photo">
          <%= link_to recipe.name, muncher_path(recipe.get_id) %>
        </li>
      <% end %>
    </ul>
  <% end %>
