<h1>Matching Recipes</h1>

<% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <img src="<%= recipe.image %>" alt="recipe photo">
          <%=  link_to recipe.name, muncher_path() %>
        </li>
      <% end %>
    </ul>
  <% end %>
