<h1>Results for <%= params[:search] %></h1>

<% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <img src="<%= recipe.image %>" alt="recipe photo">
          <%= recipe.name %>
        </li>
      <% end %>
    </ul>
  <% end %>
