<h1>Matching Recipes</h1>

<% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%=  recipe["recipe"]["label"] %>
        </li>
      <% end %>
    </ul>
  <% end %>
