body {
  margin: 0px;
}
.search_container {
  background: #F8A434;
  font-family: 'Lato', sans-serif;
  color: #FDFCFB;
  text-align: center;
}


.search_container form {
  width: 450px;
  margin: 17% auto;
}


.search_container .header {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}


.search_container .description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}


.search_container .input {
  display: flex;
  align-items: center;
}


.search_container .button {
  height: 44px;
  border: none;
}


.search_container #input {
  width: 75%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}


.search_container #submit {
  width: 25%;
  height: 46px;
  background: #E86C8D;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}


.search_container #submit:hover {
  background: #d45d7d;
}


.search_container input:focus {
  outline: none;
  outline: 2px solid #E86C8D;
  box-shadow: 0 0 2px #E86C8D;
}
