// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  margin-left: 2rem;
}

ul.small.medium {
  max-width: 19%;
  list-style-type: none;
}

.recipes-list {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  margin-left: 15em;
}

div.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 35rem;
}

.recipe-info li {
  list-style-type: none;
  text-align: center;
  font-size: 20px;
}

.recipe-info li.recipe-name {
  font-size: 50px;
}

.recipe-img img {
  border-radius: 30%;
}
