// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flash {
  background-color: red;
  color: white;
}

header {
  background: linear-gradient(to left, rgba(1,50,32,0.5), rgba(1,50,32,0.8));
  height: 6em;
  padding-top: 1em;
}

header h1 a{
  margin: 3em 0 0 .5em;
}

header h1 a{
  color: white;
  font-weight: bold;
}

header h1 a:visited{
  color: white;
}

.root {
  padding: 2em;
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url('root-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 2em;
  height: 33em;
}

.root h3 {
  font-weight: bold;
  font-size: 2em;
  color: white;
  text-shadow:
  0px 4px 3px rgba(1,1,1,0.6),
  0px 8px 13px rgba(1,1,1,0.4),
  0px 18px 23px rgba(1,1,1,0.4),
  0px 18px 23px rgba(1,1,1,0.4);
}

.recipe-pagination a{
  float: left;
}
.recipe-show-page h3{
  text-align: center;
  font-weight: bold;
}

.recipe-show-page h4 {
  text-align: center;
}
