<section class="recipes-list">
  <h1>Recipes</h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |entry| %>
      <li>  <%= entry["recipe"]["label"] %> </li>
      <% end %>
    </ul>
  <% end %>
</section>
