<section class="recipes-list">
  <h1>Recipes</h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |entry| %>
      <li>  <%= link_to entry.label, show_path(entry.uri) %> </li>
      <% end %>
    </ul>

  <% end %>
</section>

    <%= will_paginate @recipes, class: "row" %>
