<%= stylesheet_link_tag "main_search" %>

<section class="search_container">
  <%= form_tag results_path, method: "get" do %>
    <div class="header">
     <p>YUM MUNCHER</p>
    </div>
    <div class="description">
      <p>What would you like to find?</p>
    </div>
    <div class="input">
      <%= text_field_tag(:query, nil, class: "button", id: "input") %>
      <%= submit_tag("Send", class: "button", id: "submit") %>
    </div>
  <% end %>
</section>
